<div class="card bg-light" *ngIf="bill">
  <div class="card-header">Bill | {{bill.description}}</div>

  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clients']" class="btn btn-light btn-sm">&laquo; Return</a>
    </h4>

    <form #formBill="ngForm">

      <div class="form-group row" *ngIf="bill.client">

        <label for="client" class="col-sm-2 col-form-label">Client</label>

        <div class="col-sm-6">
          <input type="text" name="client" id="client" class="form-control" value="{{bill.client.name}}" disabled>
        </div>

      </div>

      <div class="form-group row">

        <label for="description" class="col-sm-2 col-form-label">Description</label>

        <div class="col-sm-6">
          <input type="text"
                 name="description"
                 id="description"
                 class="form-control"
                 [(ngModel)]="bill.description"
                 required
                 #description="ngModel">
          <div class="alert alert-danger" *ngIf="description.invalid && description.touched">
            error
          </div>
        </div>

      </div>

      <div class="form-group row">

        <label for="observation" class="col-sm-2 col-form-label">Observation</label>

        <div class="col-sm-6">
          <textarea name="observation" id="observation" class="form-control" [(ngModel)]="bill.observation"></textarea>
        </div>

      </div>

      <div class="form-group row">

        <div class="col-sm-6">

          <mat-form-field>
            <input type="text" placeholder="Pick one" aria-label="Products" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showName" (optionSelected)="productSelected($event)">
              <mat-option *ngFor="let product of productsFiltered | async" [value]="product">
                {{product.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>

      </div>

      <table class="table table-striped table-sm table-hover" *ngIf="bill.items.length">

        <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of bill.items">
          <td>{{item.product.name}}</td>
          <td>{{item.product.price | currency}}</td>
          <td>
            <input type="number"
                   value="{{item.quantity}}"
                   class="form-control col-sm-4"
                   (change)="updateQuantity(item.product.id, $event)">
          </td>
          <td>{{item.calcQuantity() | currency}}</td>
          <td>
            <button class="btn btn-danger btn-sm"
                    (click)="removeItem(item.product.id)">x</button>
          </td>
        </tr>
        </tbody>

      </table>

      <h5 class="float-right">Total: <span class="badge badge-secondary">{{bill.calcTotal() | currency }}</span></h5>

      <div class="form-group row">

        <div class="col-sm-6">
          <input type="submit"
                 value="Create Bill"
                 class="btn btn-secondary"
                 (click)="createBill()">
        </div>

      </div>


    </form>

  </div>

</div>
